<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563101035174-b5t9kq4lujqd7im03jv83eedo64tt9j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563101035174-b5t9kq4lujqd7im03jv83eedo64tt9j9</string>
	<key>API_KEY</key>
	<string>AIzaSyD4zywsk3pU0oq32-OAeaf0q2TJ81HHC6k</string>
	<key>GCM_SENDER_ID</key>
	<string>563101035174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.krishnavishwakarma.busfare</string>
	<key>PROJECT_ID</key>
	<string>bus-fare-qr</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-fare-qr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563101035174:ios:a01c3a85ec63f8462b6267</string>
</dict>
</plist>